# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Node / React
node_modules/
dist/
build/
.vite/

# OS
.DS_Store
Thumbs.db

# Vectorstore / data (اختياري لو ما تبين ترفعينه على Git)
vectorstore/
data/processed/
